# Name: R-Plot
# Author: Thorsten Wagner

Analyze>R-Plot, "R Density", de.biomedical_imaging.ij.rplot.rDensity_
Analyze>R-Plot, "R Histogram", de.biomedical_imaging.ij.rplot.rHistogram_
Analyze>R-Plot, "WHistogram", de.biomedical_imaging.ij.waterlooplot.WLHistogram_
Analyze>R-Plot, "Testdata", de.biomedical_imaging.ij.rplot.ExampleResultTable_